.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.blg
*.log
*.loboxe
*.out
*.synctex.gz
*.toc
*.bcf
*.bbl
*.xml
*.lof
/*.pdf
*.fn100
Report.txt
grattex.sublime-project
*.sublime-workspace
*.log2
.httr-oauth

*.fst
